@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

div#root {
    min-height: 100%;
}

* {
    font-family: 'Work Sans', sans-serif;
}